<!-- app/views/layouts/_navbar.html.erb -->

<nav class="navbar">
  <div class="container">
    <!-- General Navigation Links -->
    <ul class="navbar_nav">
      <li><%= link_to "Home", root_path %></li>
      <% if member_signed_in? %><li><%= link_to "Members", members_path %></li><% end %>
      <li><%= link_to "Events", events_path %></li>
      <li><%= link_to "Announcements", announcements_path %></li>
    </ul>

    <!-- User Actions Links -->
    <ul class="navbar_nav">
      <% if member_signed_in? %>
        <% if current_member.is_admin? && session[:admin_view] %>
          <li><%= link_to "Switch to Member View", toggle_view_path, method: :post, class: "btn btn-primary" %></li>
        <% elsif current_member.is_admin? && !session[:admin_view]%>
          <li><%= link_to "Switch to Admin View", toggle_view_path, method: :post, class: "btn btn-primary" %></li>
        <% end %>
        <li><%= link_to "My Profile", member_path(current_member) %></li>
        <li class="navbar_signin"><%= button_to "Sign Out", destroy_member_session_path, method: :delete, class: "btn btn-danger" %></li>
      <% else %>
        <li class="navbar_signin">
          <%= button_to member_google_oauth2_omniauth_authorize_path, class: "btn btn-danger", method: :post, data: {turbo: "false"} do %>
            <i class="fab fa-google mobile-text"></i>
            <span class = "mobile-font">&nbsp;Sign-In</span>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>