<!DOCTYPE html>
<html>
  <head>
    <title>BhaktiYogaClub</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", media: 'all', "data-turbo-track": "reload" %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <style>
        .flash__alert   { color: red; }
        .flash__notice  { color: blue; }
        .flash__success { color: green; }
    </style>
  </head>

  <body>
    <% if flash.any? %>
      <% flash.each do |key, value| -%>
        <section class="flash flash__<%= key %>"><%= value.html_safe %></section>
      <% end -%>
    <% end %>

    <% flash.each do |key, value| %>
      <div class="flash <%= key %>"><%= value %></div>
    <% end %>
    
    <%= yield %>
  </body>

  <footer>
    <% if member_signed_in? %>
      <%= link_to "My Profile", member_path(current_member) %>
      <%= button_to "Sign Out", destroy_member_session_path, method: :delete, class: "btn btn-danger" %>
    <% else %>
      <%= button_to member_google_oauth2_omniauth_authorize_path, class: "btn btn-danger", method: :post, data: {turbo: "false"} do %>
        <i class="fab fa-google mobile-text"></i><span class = "mobile-font">&nbsp;Google</span>
      <% end %>
    <% end %>
  </footer>
</html>
