<!-- app/views/announcements/new.html.erb -->

<!-- DEPRECATED PAGE NO LONGER IN USE, OAUTH IMPLEMENTED -->

<h1>Member Sign Up (DEPRECATED)</h1>

<!--

<%= form_with(model: @member, url: members_path, method: :post) do |form| %>
  <div>
    <strong><%= form.label :email %></strong>
  </div>

  <div>
    <%= form.text_field :email, placeholder: 'example@example.com' %>
  </div>

  <% if flash[:notice] %>
    <div class="alert alert-success" style="color: red;">
      <%= flash[:notice] %>
    </div>
  <% end %>

  <br>

  <div>
    <%= form.submit 'Sign Up' %><br><br>
    <%= link_to 'Cancel', root_path %>
  </div>
<% end %>

-->